@import './abstract/variables';
@import './components/nav';
@import './components/searchbar';
@import './container/footer';
@import './components/messages';
@import './components/createListing';
@import './components/login';
@import './components/signup';

//GLOBAL VAIRABLES 
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
//VARIABLES THAT IMPACT CLASS ON CLIENT/CONTAINER/MAIN
.main {
  background: $primarybg;
  height: 100vh;
  display: flex;
  justify-items: center;
  align-items: center;
}

.button {
  text-decoration: none;
}

//LOGIN PAGE
.login-logo {
  height: auto;
  width: 35%;
}

//Signup page
signup-logo {
  height: auto;
  width: 35%;
}





