$primarybg: #f8fafc;
$lightbg: #bacee3;
$header: #3d6994;

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.navBar {
  display: flex;
  background: $header;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.navUl {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1em;
  list-style-type: none;
}

.navLogo {
  color: white;
  text-decoration: none;
}

.navLi {
  font-weight: 500;
  color: white;
}

// SEARCH BAR
.main {
  background: $primarybg;
  height: 100vh;
  display: flex;
  justify-items: center;
  align-items: center;
}

.searchLogo {
  display: flex;
  justify-content: center;
}

.search {
  background-color: $primarybg;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  align-items: center;
  margin-bottom: 15em;
}

.searchbar {
  background-color: $primarybg;
  // padding-top: 0.25em;
  // padding-bottom: 0.25em;
  // padding-right: 1em;
  // padding-left: 1em;
  // border-radius: 3em;
  display: flex;
  box-shadow: 1px 3px 10px;
  // flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

option {
  line-height: 4em;
}

.dropdown {
  display: inline;
  position: relative;
  font-family: Arial;
}

.search-dropdown {
  padding: 0.4em;
  border: none;
  border-right: 0.25px solid grey;
  border-radius: 15px 0 0 15px;
}

.searchInput-box {
  padding: 0.5em;
  border: none;
}

.searchbox {
  display: inline-block;
}

.wobbe-up {
  display: inline;
  padding: 0.5em;
  padding-right: 1em;
  background: white;
  border: none;
  text-decoration: none;
  border-left: 0.25px solid grey;
  border-radius: 0 15px 15px 0;
}

// .dropdown {
//   overflow: hidden;
//   font-size: 16px;
//   border: none;
//   outline: none;
//   color: white;
//   // padding: 14px 16px;
//   background-color: inherit;
//   font-family: inherit;
//   margin: 0;
// }
// .dropdown-content {
//   display: none;
//   position: absolute;
//   background-color: blue;
//   // min-width: 160px;
//   // box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
//   z-index: 1;
// }
// .dropdown-content a {
//   color: black;
//   padding: 0.75em 1em;
//   text-decoration: none;
//   display: block;
//   text-align: left;
// }
// .dropdown:hover .dropdown-content {
//   display: block;
// }
// .dropdown-content a:hover {
//   background-color: white;
// }

.messages {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 250px;
  width: 200px;
  background-color: aqua;
}
.same-user {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  right: 0;
}
.diff-user {
  display: flex;
  text-align: left;
  left: 0;
}

.button {
  text-decoration: none;
}
.searchInput-box {
  width: 300px;
}

.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $header;
  text-align: center;
}

.button-container {
  background: $header;
}

.footerButton {
  background: $header;
}

//CREATE LISTING

.create-listing-container {
  background: $primarybg;
  display: flex;
  margin-top: 15em;
}

.searchbar-link {
  text-decoration: none;
}
