//CREATE LISTING PAGE
.create-listing-container {
  width: 25em;
  display: inline-block;
  border: 0 solid $tertiary;
  border-radius: 2em;
  box-shadow: 2px 2px 7px $tertiary;
  justify-content: center;
  padding: 1em;
  margin-left: 17em;
  margin-top: 13em;
  height: 21em;
}

.login-form-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto auto auto auto;
  width: 22em;
}

.createlistingtext {
  margin-bottom: .5em;
  color: $header;
}

.itemform {
  width: 16em;
  margin-top: .5em;
}

.item-dropdown {
  width:11.85em;
  height: 2em;
}

.itemdescrip{
  resize: none;
  width: 100%;
}

.listinginput{
  position: relative;
  float: right;
  line-height: 2em;
  border: .5px solid $secondary;
  border-radius: 1em;
  padding-left: .75em;
}

.listinglabel {
  line-height: 2em;
}

.itemsubmit {
  font-size: large;
  padding-left: .75em;
  padding-right: .75em;
  padding-top: .25em;
  padding-bottom: .25em;
  color: $lightprimary;
  background: $header;
  border: none;
  border-radius: 1.5em;
  transition: .2s;
}
.loginsubmit:hover {
  background: $lightbg;
  color: $header;
}

.signupbutton {
  font-size: large;
  padding-left: .75em;
  padding-right: .75em;
  padding-top: .6em;
  padding-bottom: .6em;
  color: $lightprimary;
  background: $header;
  border: none;
  border-radius: 1.5em;
  transition: .2s;
}
.signupbutton:hover {
  background: $lightbg;
  color: $header;
}
